:root {
  font-family: 'Platypi';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4b4b4b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(./assets/gabiDefesa.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
  padding: 0.5rem;
  align-self: center;
  flex: 1 1 auto;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.header { 
  flex: 0 1 auto;
  color: black;
  display: flex;
  justify-content: center;
  
  img { overflow: overlay; }
}